.section-article{

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 60px 0;

  article{

    width: 100%;

    a{

      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 300px;
      margin: 60px auto;

      transition: transform 1s, box-shadow 1s;



      &:hover{

        text-decoration: none;

        //width: 310px;
        transform: scale(1.1);

        box-shadow: 10px 10px 5px #aaaaaa
      ;

      }

      .lien-article{

        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding-right: 10px;
        font-size: 12px;

        &:hover{

          text-decoration: underline;

        }

      }

      .date{

        margin: 20px 0 0 0;

        font-size: 11px;
        color: #696969;
        width: 100%;

        p{

          text-align: start;

        }

      }

    }

    img{

      width: 100%;
      height: auto;

    }

  }

}

@media screen and (min-width: $breakpoint-sm){

  .section-article{

    flex-direction: row;

    article{

      width: 400px;

      a{
      transition: transform 1s, box-shadow 1s;



      &:hover{

        text-decoration: none;

        //width: 310px;
        transform: scale(1.1);

        box-shadow: 10px 10px 5px #aaaaaa
      ;

      }

    }
    }

  }

}