footer{

  display: flex;
  justify-content: space-between;
  background-color: #281811;
 /* position:absolute;
  bottom:0; -->NOTE: il est ecrit PARTOUT sur internet de faire ca pour que le footer aille en bas, mais ca marche pas*/
  width: 100%;
  .nom-footer{

    margin-left: 45px;

    color: white;

  }


  .bouton-footer{

      margin: 10px 30px;

    width: 40px;
    height: 40px;
    background-color: #6b5652;
    border-radius: 100%;

    cursor: pointer;

    i{

      font-size: 40px;
      color: black;

    }

  }

}