//STYLE DE NOTRE HEADER

//STYLE DE NOTRE HEADER

.header-page {
  background-color: #483122;

  .logo {

   display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin: 0 0 0 10px;


      a {
        font-family: 'Pacifico', cursive;
        font-size: 30px;
        color: #E6E6E6;

        &:hover{

          text-decoration: none;

        }
      }

    }

  }


  nav {

    display: flex;
    flex-direction: column;

    align-items: center;

    ul {

      padding: 0;
      list-style: none;

      width: 100%;

      text-align: center;

      li {

        & > ul {

          display: none;

          background-color: #281811;

        }

        &:hover > ul {

          display: block;

        }

      }

    }

  }

}

@media screen and (min-width: $breakpoint-sm) {

  .header-page {

    .logo {
      display: flex;
      flex-direction: row;

      h1 {
        margin: 0 0 0 10px;
        align-self: end;


        a {
          font-family: 'Pacifico', cursive;
          font-size: 30px;
          color: #E6E6E6;
        }
      }

    }

    nav {

      flex-direction: row;
      justify-content: space-between;

      ul {

        width: auto;
        display: flex;

        a {

          padding: 5px 10px;

        }

        li {

          position: relative;


          & > ul {

            position: absolute;

            top: 120%;

            min-width: 100px;

          }

        }

      }

    }

  }

}









