.flex-article{
  display: flex;
  flex-direction: column;
  align-items: center;

  .page-article{

    img{

      width: 100%;

    }

    padding: 15px;

    h1{

      font-family: $ff-titre;
      font-size: 45px;

    }

    a{

      color: black;
      display: flex;
      align-items: center;

      i{

        color: rgba(148, 204, 108, 0.9);
        padding: 5px;

      }

      transition: transform 0.5s;

      &:hover{

        transform: scale(1.05);

        text-decoration: none;

      }

    }

  }

  .profil{

    background-color: rgba(148, 204, 108, 0.9);
    border-radius: 15px;
    padding: 25px;
    margin: 20px;

    img{

      margin-bottom: 15px;

    }
  .publier-par{

    font-size: 14px;
    color: white;
    p{

      margin: 0;

    }
    span{

      font-weight: bold;

    }



  }

  .date-publication{

    font-size: 10px;

    color: #e7e7e7;

  }
  }

}



@media screen and (min-width: $breakpoint-sm) {

  .flex-article{

    display: flex;
    flex-direction: row;



    .page-article{

      margin-right: 20px;
      img{

        float: left;

        margin-right: 10px;
        min-width: 150px;
        max-width: 200px;
        height: auto;

      }

    }




  }

}