.images {

    background: url("../images/image-hero2_jufi4n_c_scale,w_575.jpg") center/cover no-repeat;
  min-height:300px;
  max-height: 600px;
    background-attachment: fixed;


    display: flex;
    align-items: center;
    justify-content: center;

    .boite-phrase{

      width: 500px;

      height: 150px;

      //background-color: rgba(0,0,0,0.5);


      display: flex;
      align-items: center;
      justify-content: center;

      p{

        color: white;
        font-size: 40px;
        text-align: center;
        font-family: $ff-titre;

      }

    }



}

@media screen and (min-width: $breakpoint-sm) {

  .images {

    background-image: url("../images/image-hero2(768px).jpg");

    background-attachment: fixed;

    //display: flex;
    //align-items: center;
    //justify-content: center;

    .boite-phrase {

      width: 500px;

      height: 150px;

      //background-color: rgba(0,0,0,0.5);

      display: flex;
      align-items: center;
      justify-content: center;

      p {

        color: white;
        font-size: 40px;
        text-align: center;

      }

    }

  }
}



  @media screen and (min-width: $breakpoint-md){

    .images {

      background: url("../images/image-hero2.jpg") center/cover no-repeat;
      height:800px;
      background-attachment: fixed;


      //display: flex;
      //align-items: center;
      //justify-content: center;

      .boite-phrase{

        width: 500px;

        height: 150px;

        //background-color: rgba(0,0,0,0.5);


        display: flex;
        align-items: center;
        justify-content: center;

        p{

          color: white;
          font-size: 40px;
          text-align: center;

        }

      }

    }
  }





/*

.hero {

  background: url("../images/office-small@1x.jpg") no-repeat center/cover;

  min-height: 400px;

}

@media (min-resolution: 192dpi) {

  .hero {

    background-image: url("../images/office-small@2x.jpg");

  }

}



  @media screen and (min-width: $breakpoint-md){

    .hero{

      background-image: url("../images/office-small@1x.jpg");
      min-height: 600px;

    }

    @media (min-resolution: 192dpi) {

      hero{

        background-image: url("../images/office-small@2x.jpg");

      }

    }

  }


@media screen and (min-width: $breakpoint-lg){

  .hero{

    background-image: url("../images/office-small@1x.jpg");
    min-height: 600px;

  }

  @media (min-resolution: 192dpi) {

    hero{

      background-image: url("../images/office-small@2x.jpg");

    }

  }

}
*/